go 1.23.0

toolchain go1.23.8

use (
	./controller/src
	// ./telemetryproxy/src/processor/k8sdataenricherprocessor
	// ./telemetryproxy/src/receiver/lumigooperatorheartbeatreceiver
	// ./telemetryproxy/src/internal/tools
	./tests
	./tools
	./watchdog/src
)
