go 1.20

use (
	./controller/src
	./watchdog/src
	// ./telemetryproxy/src/processor/k8sdataenricherprocessor
	// ./telemetryproxy/src/receiver/lumigooperatorheartbeatreceiver
	// ./telemetryproxy/src/internal/tools
	./tests
	./tools
)
