apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: namespace
    app.kubernetes.io/instance: system
    app.kubernetes.io/component: manager
    app.kubernetes.io/created-by: lumigo
    app.kubernetes.io/part-of: lumigo
    app.kubernetes.io/managed-by: kustomize
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: deployment
    app.kubernetes.io/instance: controller-manager
    app.kubernetes.io/component: manager
    app.kubernetes.io/created-by: lumigo
    app.kubernetes.io/part-of: lumigo
    app.kubernetes.io/managed-by: kustomize
    lumigo.auto-trace: "false"
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
        lumigo.auto-trace: "false" # We do not need the operator to inject itself
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - amd64
                      - arm64
                      # - ppc64le
                      # - s390x
                  - key: kubernetes.io/os
                    operator: In
                    values:
                      - linux
      securityContext:
        runAsNonRoot: true
        fsGroup: 1234
      containers:
        - command:
            - /manager
          args:
            - --leader-elect
          image: host.docker.internal:5000/controller:latest
          name: manager
          env:
            - name: LUMIGO_CONTROLLER_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: LUMIGO_CONTROLLER_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: TELEMETRY_PROXY_OTLP_SERVICE
              value: http://$(TELEMETRY_PROXY_SERVICE).$(TELEMETRY_PROXY_SERVICE_NAMESPACE).svc.cluster.local
            - name: LUMIGO_OPERATOR_VERSION
              value: latest
            - name: LUMIGO_OPERATOR_DEPLOYMENT_METHOD
              value: kustomize
            - name: LUMIGO_INJECTOR_IMAGE
              value: public.ecr.aws/lumigo/lumigo-autotrace:latest
            - name: LUMIGO_NAMESPACE_CONFIGURATIONS
              value: /lumigo/etc/namespaces/namespaces_to_monitor.json
            - name: KUBERNETES_CLUSTER_DOMAIN
              value: cluster.local
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          # TODO(user): Configure the resources accordingly based on the project requirements.
          # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
          volumeMounts:
            - mountPath: /lumigo/etc/namespaces/
              name: namespace-configurations
              readOnly: false
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1234
        - name: telemetry-proxy
          image: host.docker.internal:5000/telemetry-proxy:latest
          env:
            - name: LUMIGO_OPERATOR_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: LUMIGO_OPERATOR_VERSION
              value: latest
            - name: LUMIGO_OPERATOR_DEPLOYMENT_METHOD
              value: Kustomize
            - name: LUMIGO_ENDPOINT
              value: https://ga-otlp.lumigo-tracer-edge.golumigo.com
            - name: LUMIGO_LOGS_ENDPOINT
              value: https://ga-otlp.lumigo-tracer-edge.golumigo.com
          ports:
            - containerPort: 4318
              name: otlphttp
              protocol: TCP
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1234
          volumeMounts:
            - mountPath: /lumigo/etc/otelcol/
              name: telemetry-proxy-configurations
              readOnly: false
            - mountPath: /lumigo/etc/namespaces/
              name: namespace-configurations
              readOnly: false
      volumes:
        - emptyDir: {}
          name: namespace-configurations
        - emptyDir: {}
          name: telemetry-proxy-configurations
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
