dist:
  module: github.com/lumigo-io/opentelemetry-collector-contrib
  name: lumigo-collector
  description: Lumigo OpenTelemetry collector
  otelcol_version: "0.103.0"
  version: "lumigo-dev"
  output_path: dist

exporters:
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/exporter/awskinesisexporter v0.103.0"
  - gomod: go.opentelemetry.io/collector/exporter/loggingexporter v0.103.0
  - gomod: "go.opentelemetry.io/collector/exporter/otlphttpexporter v0.103.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/exporter/fileexporter v0.103.0"

extensions:
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/extension/headerssetterextension v0.103.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/extension/healthcheckextension v0.103.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/extension/lumigoauthextension v0.103.0"

receivers:
  - gomod: "go.opentelemetry.io/collector/receiver/otlpreceiver v0.103.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/receiver/lumigooperatorheartbeatreceiver v0.103.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/receiver/k8sobjectsreceiver v0.103.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/receiver/syslogreceiver v0.103.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/receiver/prometheusreceiver v0.103.0"

processors:
  - gomod: "go.opentelemetry.io/collector/processor/batchprocessor v0.103.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/attributesprocessor v0.103.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/filterprocessor v0.103.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/k8sdataenricherprocessor v0.103.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/resourceprocessor v0.103.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/transformprocessor v0.103.0"

replaces:
  - github.com/open-telemetry/opentelemetry-collector-contrib/extension/lumigoauthextension v0.103.0 => github.com/lumigo-io/lumigo-otel-collector-contrib/extension/lumigoauthextension 70facbfc76f45838afc0d103e9c8c022a67d82c6
  - github.com/open-telemetry/opentelemetry-collector-contrib/processor/k8sdataenricherprocessor v0.103.0 => ../processor/k8sdataenricherprocessor
  - github.com/open-telemetry/opentelemetry-collector-contrib/receiver/lumigooperatorheartbeatreceiver v0.103.0 => ../receiver/lumigooperatorheartbeatreceiver
  - github.com/open-telemetry/opentelemetry-collector-contrib/receiver/k8sobjectsreceiver v0.103.0 => ../receiver/k8sobjectsreceiver