version: 2.1

orbs:
  lumigo-orb: &lumigo_orb_version lumigo/lumigo-orb@dev:3a0ebd3

workflows:
  test-deploy:
    jobs:
    - lumigo-orb/print_orb_versions:
        lumigo_orb_version: *lumigo_orb_version

    - lumigo-orb/is_environment_available:
        context: common
        filters:
          branches:
            ignore: master

    - lumigo-orb/be-deploy:
        context: common
        save_project_folder: false
        requires:
          - lumigo-orb/is_environment_available

    - lumigo-orb/prep-it-resources:
        context: common
        requires:
          - lumigo-orb/is_environment_available

    - lumigo-orb/prep-k8s-and-operator:
        context: common
        requires:
          - lumigo-orb/is_environment_available

    - lumigo-orb/integration-test-parallel:
        context: common
        run_test_cleanup: false
        tests_max_parallel: 20
        requires:
          - lumigo-orb/be-deploy
          - lumigo-orb/prep-it-resources
          - lumigo-orb/prep-k8s-and-operator

    - lumigo-orb/integration-test-cleanup:
        name: post-test-cleanup
        context: common
        requires:
          - lumigo-orb/integration-test-parallel

    - lumigo-orb/workflow-completed-successfully:
        context: common
        requires:
          - lumigo-orb/integration-test-parallel