debug:
  enabled: false
output:
  color: true
  showOperatorStatus: true
cluster:
  name:
controllerManager:
  kubeRbacProxy:
    image:
      repository: gcr.io/kubebuilder/kube-rbac-proxy
      tag: v0.13.0
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 5m
        memory: 64Mi
  manager:
    image:
      repository: host.docker.internal:5000/controller
      tag: latest
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  telemetryProxy:
    image:
      repository: host.docker.internal:5000/telemetry-proxy
      tag: latest
    resources:
      limits:
        cpu: 500m
        memory: 256Mi
      requests:
        cpu: 10m
        memory: 128Mi
  replicas: 1
injectorWebhook:
  lumigoInjector:
    image:
      repository: public.ecr.aws/lumigo/lumigo-autotrace
      tag: latest
injectorWebhookService:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
  type: ClusterIP
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
    - name: https
      port: 8443
      protocol: TCP
      targetPort: https
  type: ClusterIP
endpoint:
  otlp:
    url: https://ga-otlp.lumigo-tracer-edge.golumigo.com
    logs_url: https://ga-otlp.lumigo-tracer-edge.golumigo.com
    metrics_url: https://ga-otlp.lumigo-tracer-edge.golumigo.com
lumigoToken:
  secretName: lumigo-credentials
  secretKey: token
  value:
clusterCollection:
  metrics:
    enabled: true
    frequency: 15s
  logs:
    viaFiles:
      enabled: false