name: build-and-test
on:
  push:
    branches: [ main ]

  pull_request:

jobs:
  unit-test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1  # We do not need the git history
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Run tests
        run: |
          make test

  test-helm-upgrade:
    runs-on: ubuntu-latest
    services:
      # Run a local registry
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
      # The networking setup of this job is... complex. We run a local registry as
      # a service, which means that on the worker node there is a registry on localhost:5000.
      # However, Minikube cannot pull images from *that* localhost, because it's own localhost
      # is something else, so we need to reference the registry via the IP of the worker machine,
      # and configure `minikube` and `docker push` to treat that registry as insecure (i.e., talking
      # HTTP instead of HTTPS).
      - name: Look up host ip
        id: hostip
        run: |
          ip a
          echo "ip=$(ip addr show eth0 | grep "inet\b" | awk '{print $2}' | cut -d/ -f1)" >> ${GITHUB_OUTPUT}
      - name: Install minikube
        uses: medyagh/setup-minikube@v0.0.11
        with:
          start-args: --insecure-registry "${{ steps.hostip.outputs.ip }}:5000"
          driver: docker
          cni: bridge
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install kubectl
        uses: azure/setup-kubectl@v3
      - name: Set up Helm
        run: curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
      - name: Install latest released Helm chart
        run: |
          helm repo add lumigo https://lumigo-io.github.io/lumigo-kubernetes-operator

          helm install lumigo lumigo/lumigo-operator --namespace lumigo-system --create-namespace --dry-run

          if ! helm install lumigo lumigo/lumigo-operator --namespace lumigo-system --create-namespace --debug --wait --timeout 4m; then
            kubectl describe all -n lumigo-system
            exit 1
          fi

          kubectl get all -A
      - name: Build images and push them to local repo
        env:
          DOCKER_OPTS: --insecure-registries "${{ steps.hostip.outputs.ip }}:5000"
          CONTROLLER_IMG: ${{ steps.hostip.outputs.ip }}:5000/controller
          PROXY_IMG: ${{ steps.hostip.outputs.ip }}:5000/telemetry-proxy
        run: |
          make docker-build docker-push
      - name: Deploy PR operator
        env:
          CONTROLLER_IMG: ${{ steps.hostip.outputs.ip }}:5000/controller
          PROXY_IMG: ${{ steps.hostip.outputs.ip }}:5000/telemetry-proxy
        run: |
          helm upgrade --install lumigo charts/lumigo-operator \
            --namespace lumigo-system --create-namespace \
            --set "controllerManager.manager.image.repository=${CONTROLLER_IMG}" \
            --set "controllerManager.manager.image.tag=${{ github.run_number }}" \
            --set "controllerManager.telemetryProxy.image.repository=${PROXY_IMG}" \
            --set "controllerManager.telemetryProxy.image.tag=${{ github.run_number }}" \
            --dry-run

          if ! helm upgrade --install lumigo charts/lumigo-operator \
            --namespace lumigo-system --create-namespace \
            --set "controllerManager.manager.image.repository=${CONTROLLER_IMG}" \
            --set "controllerManager.manager.image.tag=${{ github.run_number }}" \
            --set "controllerManager.telemetryProxy.image.repository=${PROXY_IMG}" \
            --set "controllerManager.telemetryProxy.image.tag=${{ github.run_number }}" \
            --debug --wait --timeout 4m; then

            kubectl describe all -n lumigo-system
            exit 1
          fi

  all-tests:
    runs-on: ubuntu-latest
    needs:
    - unit-test
    - test-helm-upgrade
    steps:
      - name: no-op
        run: echo '*tongue click* noice'

  check-should-release:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs:
    - all-tests
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check whether we need to release
        id: release-check
        uses: dorny/paths-filter@v2
        with:
          filters: .github/file-filters.yaml
    outputs:
      do-release: steps.release-check.outputs.new-release

  validate-release-increment:
    if: github.ref == 'refs/heads/main' && needs.check-should-release.outputs.do-release
    runs-on: ubuntu-latest
    needs:
    - check-should-release
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2 # We need this commit and the previous to check validity of version change
      - name: Validate version change
        id: validate-version-change
        run: |
          if ./.github/workflows/scripts/validate_version_increment.sh; then
            echo -n "perform-release=true" >> ${GITHUB_OUTPUT}
          else
            echo -n "perform-release=false" >> ${GITHUB_OUTPUT}
          fi
      - name: Export version
        id: export_version
        run: |
          echo -n "version=$(cat VERSION)" >> ${GITHUB_OUTPUT}
    outputs:
      perform-release: ${{ steps.validate-version-change.outputs.perform-release }}
      version: ${{ steps.export_version.outputs.version }}

  publish-controller-ecr-image:
    runs-on: ubuntu-latest
    needs:
    - validate-release-increment
    if: ${{ needs.validate-release-increment.outputs.perform-release == 'true' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Install tools
        run: |
          make install-tools
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Login to Amazon ECR Public
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public
      - name: Build and push container image to Amazon ECR
        env:
          CONTROLLER_IMG: public.ecr.aws/lumigo/lumigo-kubernetes-operator:${{ needs.validate_release_increment.outputs.version }}
        run: |
          make docker-buildx-manager

  publish-telemetry-proxy-ecr-image:
    runs-on: ubuntu-latest
    needs:
    - validate-release-increment
    if: ${{ needs.validate-release-increment.outputs.perform-release == 'true' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Install tools
        run: |
          make install-tools
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Login to Amazon ECR Public
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public
      - name: Build and push container image to Amazon ECR
        env:
          PROXY_IMG: public.ecr.aws/lumigo/lumigo-kubernetes-telemetry-proxy:${{ needs.validate_release_increment.outputs.version }}
        run: |
          make docker-buildx-telemetry-proxy

  publish-helm-chart:
    runs-on: ubuntu-latest
    needs:
    - validate-release-increment
    - publish-controller-ecr-image
    - publish-telemetry-proxy-ecr-image
    if: ${{ needs.validate-release-increment.outputs.perform-release }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: |
          git branch -r
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Set up Helm
        run: curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
      - name: Set up yq
        run: |
          sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          sudo chmod +x /usr/local/bin/yq
      - name: Update Helm chart metadata
        run: |
          yq e -i '.version = "${{ needs.validate-release-increment.outputs.version }}"' charts/lumigo-operator/Chart.yaml
          yq e -i '.appVersion = "${{ needs.validate-release-increment.outputs.version }}"' charts/lumigo-operator/Chart.yaml
      - name: Update Helm chart defaults
        run: |
          yq e -i '.controllerManager.manager.image.repository = "public.ecr.aws/lumigo/lumigo-kubernetes-operator"' charts/lumigo-operator/values.yaml
          yq e -i '.controllerManager.manager.image.tag = "${{ needs.validate-release-increment.outputs.version }}"' charts/lumigo-operator/values.yaml
          yq e -i '.controllerManager.telemetryProxy.image.repository = "public.ecr.aws/lumigo/lumigo-kubernetes-telemetry-proxy"' charts/lumigo-operator/values.yaml
          yq e -i '.controllerManager.telemetryProxy.image.tag = "${{ needs.validate-release-increment.outputs.version }}"' charts/lumigo-operator/values.yaml
      - name: Create release commit
        id: create-release-commit
        run: |
          git add charts/lumigo-operator
          git commit -m "v${{ needs.validate-release-increment.outputs.version }}"

          git tag "v${{ needs.validate-release-increment.outputs.version }}" $(git rev-parse HEAD)
      - name: Package Helm chart
        run: |
          helm package charts/lumigo-operator --destination packages/
      - name: Calculate updated Helm index
        id: prepare-helm-index-update
        run: |
          git checkout origin/gh-pages --quiet

          helm repo index packages/ --merge index.yaml --url "https://github.com/lumigo-io/lumigo-kubernetes-operator/releases/download/v${{ needs.validate-release-increment.outputs.version }}"
          mv packages/index.yaml index.yaml

          git add index.yaml

          git status

          git commit -m "${{ needs.validate-release-increment.outputs.version }}"
          echo "commit_sha=$(git rev-parse HEAD)" >> ${GITHUB_OUTPUT}
      - name: Create Release
        uses: ncipollo/release-action@v1.12.0
        with:
          name: "v${{ needs.validate-release-increment.outputs.version }}"
          tag: v${{ needs.validate-release-increment.outputs.version }}
          artifacts: packages/*
          omitBody: true
          replacesArtifacts: true
      - name: Update Helm index
        run: |
          git push origin ${{ steps.prepare-helm-index-update.outputs.commit_sha }}:gh-pages
